# MacOS
.DS_Store

# Solidworks
~$*.SLD*

# Matlab
matlabInVSCodeVariableInfo.csv

# Altium
pcb/e80_doppler/__Previews/
pcb/e80_doppler/History/
pcb/e80_doppler/Project Logs for e80_doppler/

# Lattice Radiant
code/fpga/impl_1/

code/fpga/dvl_tcr.dir/

*.iverilog

*.vcd
